body{
    margin: 0px;
}
header{
    background-color:black;
   height: 25px;
    padding: 10px,0px;
}
nav{
    padding: 3px;
}
a:link{
    display: flexbox;    
    text-decoration: none;
    margin: 20px;
    
     
    
}

.box{
   float: right;
}

article{
    width: 920px;
    margin: auto;
    margin-top: 10px;
    padding: 20px,0px;
    border: 2px solid black;
}
.sec-image{
    display: flex;
    
    background-color:#ffe6e6;
}

aside{
    background-color:indigo;
    width: 210px;
    height: auto;
    margin-top: -48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   float:right;
}
.side-nav{
  display: flex;
  padding: 25px;
  font-size:16px;
  font-family: sans;
    
}


@keyframes sidenav {
    from {right: 0px;}
    to {bottom: 200px;}
  }

.more{
    text-align: center;
    padding-bottom: 12px;
}
.left-bar{
    height: 150%;
    margin-left: 0px;
    margin-top: -48%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    float: left;
    width: 15%;
    padding: 10px, 10px;
}
.box-left{
    padding: 20px;
}

